<h2>Join the Club</h2>

<form action="/join" method="POST">
  <label for="passcode">Enter Secret Passcode:</label>
  <input type="text" name="passcode" id="passcode" required>

  <button type="submit">Join</button>
</form>

