<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("partials/header") %>
  <main>
    <%- body %>
  </main>
</body>
</html>
