<h2>Log In</h2>

<% if (messages.error && messages.error.length > 0) { %>
  <ul>
    <% messages.error.forEach(msg => { %>
      <li><%= msg %></li>
    <% }); %>
  </ul>
<% } %>

<form action="/log-in" method="POST">
  <label for="username">Email:</label>
  <input type="text" name="username" id="username" required>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required>

  <button type="submit">Log In</button>
</form>

<p><a href="/sign-up">Don't have an account? Sign up</a></p>

